<h2>カテゴリー一覧</h2>
<table>
    <thead>
      <tr>
        <th>カテゴリー名</th>

        <h1>美術館、エンタメ、温泉、水族館、季節のスポット、スポット追加</h1>
      </tr>
    </thead>
</table>

<%= link_to "ログアウト", logout_path, method: :delete %>