<p class="not-a">まずはログインをしてください。</p>
<div class="not-b">
    <div class="not-c">
        <%= link_to "ログイン", login_path, class: 'link' %>
    </div>
    <div class="not-c">
        <%= link_to "新規登録", signup_path ,class: "link' %>
    </div>
</div>
