/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.head-foot{
    background-color: #a68b62;
    text-align:center;
    height:50px;
    padding: 20px;
    font-size: 24px;
}
.sub-head{
    font-size: 20px;
}
.body-yield{
    background-color: #efe8d9;
    font-family: 游ゴシック,"Yu Gothic";
    min-height:450px;
    padding: 20px;
}
.top-a{
    margin-top: 20px;
    font-size:18px;
}
.top-b{
    padding-top:20px;
    font-size: 15px;
}
.not-a{
    padding:40px 10px;
    font-size: 20px;
    text-align: center;
}
.not-c{
  width:150px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#e4c9c0;
  border-radius:5px;
  box-shadow:1px 1px #a68b62;
  margin: 40px auto;
  
}
.login-a{
    margin-top:30px;
    margin-left:10px;
    font-size: 20px;
}
.login-b{
    text-align: center;
    margin-top:30px;
}
.login-c{
    text-align: center;
    margin:20px;
}
.login-d{
  text-align: center;
  margin-top: 40px;
}
.new-a{
    margin-top: 30px;
    margin-left:10px;
    font-size: 20px;
}
.new-b{
    text-align: center;
    margin-top:10px;
}
.new-c{
    text-align: center;
    margin:20px;
}
.new-d{
  text-align: center;
  margin-top: 40px;
}
.cate-a{
    margin-top:20px;
    margin-bottom:30px;
    font-size: 18px;
}
.cate-b{
  width:150px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#e4c9c0;
  border-radius:5px;
  box-shadow:1px 1px #a68b62;
  margin: 20px auto;
  
    
}
.cate-c{
  width:250px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:20px 10px;
  background:#e4c9c0;
  border-radius:5px;
  box-shadow:1px 1px #a68b62;
  margin: 40px auto;
}

.season-a{
    font-size: 20px;
}
.season-b{
    background-color:#e4c9c0;
    margin-top:40px;
    padding:20px;
}
.season-c{
    font-weight: bold;
    font-size: 16px;
    padding-bottom:10px;
}
.link{
  color:rgba(0, 0, 0, 0.486);
  text-decoration: none;
}